@import url("https://fonts.googleapis.com/css?family=Exo");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Exo', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 20px;
  background-image: url("http://imgur.com/6FZA7wO.jpg");
  background-size: cover;
  text-align: center;
}

.row:before, .row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
}

.board {
  background-image: url("http://imgur.com/D4VtCHG.png");
  background-size: 100% 100%;
  height: auto;
  position: relative;
}

.board h1 {
  text-align: center;
  text-transform: uppercase;
  color: #000;
  position: relative;
  font-size: 40px;
  margin-bottom: 30px;
  padding-top: 50px;
}

.board .create-column {
  background-color: #B17053;
  font-family: 'Exo', sans-serif;
  font-size: 12px;
  color: #fff;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #9e8d84, 0px 3px 0px 0px #322620, 0px 10px 5px #999;
  cursor: pointer;
}

.create-column:active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}

.board .column-container {
  display: inline-block;
  margin: 60px 40px;
  width: 90%;
}

.column-container .column {
  display: inline-block;
  background-color: lightgrey;
  margin: 10px;
  list-style: none;
  position: relative;
  width: 25vw;
  vertical-align: top;
  min-height: 30vh;
  border-radius: 15px;
}

.column .column-title {
  border-bottom: 2px solid;
  margin: 15px;
  padding: 15px;
}

.column ul {
  border: 10px solid lightgrey;
}

.column ul .card {
  position: relative;
  display: inline-block;
  background-color: #F2DE70;
  vertical-align: top;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.column .column-card-list {
  list-style: none;
  padding: 0px;
}

.column .btn-delete {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  border-radius: 9px;
  box-shadow: inset 0px 1px 0px #9e8d84;
  background-color: #A50808;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.column .add-card {
  background-color: #B17053;
  font-family: 'Exo', sans-serif;
  font-size: 10px;
  color: #fff;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.card-placeholder {
    height: 60px;
    min-height: 20px;
    margin-bottom: 5px;
    display: block;
    border: 1px solid rgba(153, 153, 153, 0.3);
    border-radius: 8px;
    background-color: rgba(153, 153, 153, 0.3);
}

footer .author {
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  line-height: 4;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 481px) and (max-width: 991px) {
  
  .board h1 {
    padding-top: 90px;
  }

  .column-container {
    width: auto;
    margin-bottom: 70px;
  }

  .column-container .column {
    width: calc(50% - 25px);
  }

  .column .column-title {
    font-size: 1.2em;
  }

  .column ul .card {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  
  .board h1 {
    padding-top: 90px;
    font-size: 20px;
  }

  .board .row .create-column {
    font-size: 0.7em;
    padding: 8px;
  }

  .board .column-container {
    width: auto;
    margin-bottom: 40px;
  }

  .column-container .column {
    width: calc(100% - 2px);
  }

  .column .column-title {
    font-size: 0.9em;
  }

  .column .add-card {
    font-size: 9px;
    padding: 10px;
  }

  .column ul .card {
    margin: 10px;
    padding: 15px;
    width: 60%;
    font-size: 0.8em;
  }
}